.vida-svg-object{
    position:relative;
    width:95%;
    max-height:100%;
    max-width:100%;
    padding-left:2.5%;
}

#vida-svg-overlay{
    overflow:scroll;
    overflow-x:auto;
}

#vida-svg-wrapper{
    overflow:auto;
}

svg{
    display: block;
    margin:0 auto;
}
.vida-page-controls{
    width:100%;
    text-align:center;
}
.vida-prev-page{
    background-image:url('images/glyphicons_210_left_arrow.png');
    background-repeat:no-repeat;
    position:absolute;
    top:.25em;
    left:2em;
    float:left;
    z-index: 2;
    cursor: pointer;
    width:20px;
    height:18px;
}
.vida-next-page{
    background-image:url('images/glyphicons_211_right_arrow.png');
    background-repeat:no-repeat;
    position:absolute;
    float:right;
    top:.25em;
    right:2em;
    z-index: 2;
    cursor: pointer;
    width:20px;
    height:18px;
}
.vida-zoom-controls{
    margin: 0 auto;
    display: block; 
}
.vida-zoom-in{
    background-image:url('images/glyphicons_236_zoom_in.png');
    background-repeat:no-repeat;
    display:inline-block;
    width:25px;
    height:25px;
    padding-right:5px;
    cursor: pointer;
}
.vida-zoom-out{
    background-image:url('images/glyphicons_237_zoom_out.png');
    background-repeat:no-repeat;
    display:inline-block;
    width:25px;
    height:25px;
    cursor: pointer;
}
.vida-loading-popup{
    position: fixed;
    padding: 10px;
    border: thin black solid;
    border-radius: 10px;
    background-color: #FFF;
}