#vida-body{
    position:relative;
    width:95%;
    padding-left:2.5%;
}
.vida-page-controls{
    width:100%;
}
.vida-prev-page{
    background-image:url('images/glyphicons_210_left_arrow.png');
    background-repeat:no-repeat;
    position:absolute;
    top:2em;
    left:2em;
    float:left;
    z-index: 2;
    cursor: pointer;
    width:20px;
    height:18px;
}
.vida-next-page{
    background-image:url('images/glyphicons_211_right_arrow.png');
    background-repeat:no-repeat;
    position:absolute;
    float:right;
    top:2em;
    right:2em;
    z-index: 2;
    cursor: pointer;
    width:20px;
    height:18px;
}
